<div class='container'>
  <h2 class='text-center'>Profile</h2>
  <div class='show-body'>
    <p><span class='para'><b>Fitsrt Name:</b></span><%= @user.first_name %></p>
    <hr>
    <p><span class='para'><b>Last Name:</b></span><%= @user.last_name %></p> 
     <hr>
    <p><span class='para'><b>Email:</b></span><%= @user.email %></p>
     <hr>
    <p><span class='para'><b>Phone:</b></span><%= @user.phone_number %></p>
     <hr>
    <p><span class='para'><b>Address:</b></span><%= @user.address %></p>
  </div>
  <div class='butt row'>
    <%= link_to 'eidt', edit_user_registration_path(:id => params[:id]), class: 'btn btn2 col-2'%> <%= link_to 'delete', user_path(@user),data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    }, class: 'btn btn2 col-2' %>
  </div> 
</div>