<nav class="navbar fixed-top ">
  <div class="container-fluid contain">
    <div class='d-flex'> 
      <% if user_signed_in? %>
        <div>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             <%= current_user.first_name%> <%= current_user.last_name%>
            </button>
            <ul class="dropdown-menu bg-dark p-3" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to 'profile', user_path(current_user) %></li>
              <% if current_user&.superadmin? %>
                <li><%= link_to 'Dashboard', users_path%></li>
                <li><%= link_to 'all bank', banks_path %></li>
                <li><%= link_to 'all Accounts', accounts_path %></li>
                <li><%= link_to 'transactions', transactions_path %></li>
                <li><%= link_to(new_bank_path, data: {turbo_frame: "form_modal"} ) do %>add
                <% end %></li>
              <% else %>  
                <li><%= link_to 'accounts', accounts_path%></li>
                <li><%= link_to 'create account', new_account_path %></li>
                <li><%= link_to 'transaction', new_transaction_path %></li>
                <% if current_user&.transactions.present? %>
                  <li><%= link_to 'history', transactions_path %></li>
                <% end %>
              <% end %>
             
              <li><%= link_to 'log out', destroy_user_session_path,data: { turbo_method: :delete} %></li>
            </ul>  
          </div>
        </div>  
      <% else %>
        <%= link_to 'Register', new_user_registration_path %>
        <%= link_to 'Sign in', new_user_session_path,class: 'link-in' %>
      <% end %>  
    </div> 
  </div>
</nav> 
