<%= form_with(model: bank) do |form| %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <div style="color: red">
      <% if item.errors.include?(:name) %>
          <% item.errors.full_messages_for(:name).each do |error_message| %>
            <%= error_message %>.
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :address, style: "display: block", class: "form-label" %>
    <%= form.text_area :address, class: "form-control" %>
    <div style="color: red">
      <% if item.errors.include?(:address) %>
          <% item.errors.full_messages_for(:address).each do |error_message| %>
            <%= error_message %>.
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn1 btn-block" %>
  </div>
<% end %>