<%= form_with model: [@bank] do |f| %>
  <div class="modal-body">
    <div class='mt-3'>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"  %>
      <% @bank.errors.full_messages_for(:name).each do |message| %>
        <div class='error'><%= message %></div>
      <% end %>
    </div>
    <div class='mt-3'>
      <%= f.label :address %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
      <% @bank.errors.full_messages_for(:address).each do |message| %>
        <div class='error'><%= message %></div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit "Create", class: "btn btn1",data: {action: "click->bs-modal#submitEnd"} %>
  </div>  
<% end %>