<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <td scope="row"><%= bank.id %></td>
        <td><%= bank.name %></td>
        <td><%= bank.address %></td>
        <td>
          <%= link_to bank_path(bank) do %>
            <%= image_tag('icons8-show-50.png',class:'logo1')%>
          <% end %>
          <%= link_to edit_bank_path(bank) do %>
            <%= image_tag('icons8-edit-80.png',class:'logo1')%>
          <% end %>
          <%= link_to bank_path(bank),data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            } do %>
            <%= image_tag('icons8-delete-100.png',class:'logo1')%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>